/**
 * Base
 */

:root {
  font-size: $root + px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-size: 100% * $zoom;
  text-rendering: optimizeLegibility;
}

a {
  color: #007bff;
  background-color: transparent;
  text-decoration: none;
}