/**
 * Utilities
 */

// Background
.g-bg-cover {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

// Border
.g-radius-5 {
  border-radius: rem(5) !important;
}
.g-radius-round {
  border-radius: 50% !important;
}

// Box Shadow
.g-box-shadow {
  box-shadow: 0 0 rem(30) 0 rgba(0, 0, 0, 0.15) !important;
}

// Block
.g-block {
  background-color: $white;
  display: block !important;
}

// Margin
.g-m-0 { margin: 0 !important; }
.g-m-5 { margin: rem(5) !important; }
.g-m-10 { margin: rem(10) !important; }
.g-m-15 { margin: rem(15) !important; }
.g-m-20 { margin: rem(20) !important; }
.g-m-25 { margin: rem(25) !important; }
.g-m-30 { margin: rem(30) !important; }
.g-m-35 { margin: rem(35) !important; }
.g-m-40 { margin: rem(40) !important; }
.g-m-45 { margin: rem(45) !important; }
.g-m-50 { margin: rem(50) !important; }
.g-m-55 { margin: rem(55) !important; }
.g-m-60 { margin: rem(60) !important; }
.g-m-65 { margin: rem(65) !important; }
.g-m-70 { margin: rem(70) !important; }
.g-m-75 { margin: rem(75) !important; }
.g-m-80 { margin: rem(80) !important; }
.g-m-85 { margin: rem(85) !important; }
.g-m-90 { margin: rem(90) !important; }
.g-m-95 { margin: rem(95) !important; }
.g-m-100 { margin: rem(100) !important; }
.g-mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.g-mx-5 { margin-left: rem(5) !important; margin-right: rem(5) !important; }
.g-mx-10 { margin-left: rem(10) !important; margin-right: rem(10) !important; }
.g-mx-15 { margin-left: rem(15) !important; margin-right: rem(15) !important; }
.g-mx-20 { margin-left: rem(20) !important; margin-right: rem(20) !important; }
.g-mx-25 { margin-left: rem(25) !important; margin-right: rem(25) !important; }
.g-mx-30 { margin-left: rem(30) !important; margin-right: rem(30) !important; }
.g-mx-35 { margin-left: rem(35) !important; margin-right: rem(35) !important; }
.g-mx-40 { margin-left: rem(40) !important; margin-right: rem(40) !important; }
.g-mx-45 { margin-left: rem(45) !important; margin-right: rem(45) !important; }
.g-mx-50 { margin-left: rem(50) !important; margin-right: rem(50) !important; }
.g-mx-55 { margin-left: rem(55) !important; margin-right: rem(55) !important; }
.g-mx-60 { margin-left: rem(60) !important; margin-right: rem(60) !important; }
.g-mx-65 { margin-left: rem(65) !important; margin-right: rem(65) !important; }
.g-mx-70 { margin-left: rem(70) !important; margin-right: rem(70) !important; }
.g-mx-75 { margin-left: rem(75) !important; margin-right: rem(75) !important; }
.g-mx-80 { margin-left: rem(80) !important; margin-right: rem(80) !important; }
.g-mx-85 { margin-left: rem(85) !important; margin-right: rem(85) !important; }
.g-mx-90 { margin-left: rem(90) !important; margin-right: rem(90) !important; }
.g-mx-95 { margin-left: rem(95) !important; margin-right: rem(95) !important; }
.g-mx-100 { margin-left: rem(100) !important; margin-right: rem(100) !important; }
.g-my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.g-my-5 { margin-top: rem(5) !important; margin-bottom: rem(5) !important; }
.g-my-10 { margin-top: rem(10) !important; margin-bottom: rem(10) !important; }
.g-my-15 { margin-top: rem(15) !important; margin-bottom: rem(15) !important; }
.g-my-20 { margin-top: rem(20) !important; margin-bottom: rem(20) !important; }
.g-my-25 { margin-top: rem(25) !important; margin-bottom: rem(25) !important; }
.g-my-30 { margin-top: rem(30) !important; margin-bottom: rem(30) !important; }
.g-my-35 { margin-top: rem(35) !important; margin-bottom: rem(35) !important; }
.g-my-40 { margin-top: rem(40) !important; margin-bottom: rem(40) !important; }
.g-my-45 { margin-top: rem(45) !important; margin-bottom: rem(45) !important; }
.g-my-50 { margin-top: rem(50) !important; margin-bottom: rem(50) !important; }
.g-my-55 { margin-top: rem(55) !important; margin-bottom: rem(55) !important; }
.g-my-60 { margin-top: rem(60) !important; margin-bottom: rem(60) !important; }
.g-my-65 { margin-top: rem(65) !important; margin-bottom: rem(65) !important; }
.g-my-70 { margin-top: rem(70) !important; margin-bottom: rem(70) !important; }
.g-my-75 { margin-top: rem(75) !important; margin-bottom: rem(75) !important; }
.g-my-80 { margin-top: rem(80) !important; margin-bottom: rem(80) !important; }
.g-my-85 { margin-top: rem(85) !important; margin-bottom: rem(85) !important; }
.g-my-90 { margin-top: rem(90) !important; margin-bottom: rem(90) !important; }
.g-my-95 { margin-top: rem(95) !important; margin-bottom: rem(95) !important; }
.g-my-100 { margin-top: rem(100) !important; margin-bottom: rem(100) !important; }
.g-mt-0 { margin-top: 0 !important; }
.g-mt-5 { margin-top: rem(5) !important; }
.g-mt-10 { margin-top: rem(10) !important; }
.g-mt-15 { margin-top: rem(15) !important; }
.g-mt-20 { margin-top: rem(20) !important; }
.g-mt-25 { margin-top: rem(25) !important; }
.g-mt-30 { margin-top: rem(30) !important; }
.g-mt-35 { margin-top: rem(35) !important; }
.g-mt-40 { margin-top: rem(40) !important; }
.g-mt-45 { margin-top: rem(45) !important; }
.g-mt-50 { margin-top: rem(50) !important; }
.g-mt-55 { margin-top: rem(55) !important; }
.g-mt-60 { margin-top: rem(60) !important; }
.g-mt-65 { margin-top: rem(65) !important; }
.g-mt-70 { margin-top: rem(70) !important; }
.g-mt-75 { margin-top: rem(75) !important; }
.g-mt-80 { margin-top: rem(80) !important; }
.g-mt-85 { margin-top: rem(85) !important; }
.g-mt-90 { margin-top: rem(90) !important; }
.g-mt-95 { margin-top: rem(95) !important; }
.g-mt-100 { margin-top: rem(100) !important; }
.g-mr-0 { margin-right: 0 !important; }
.g-mr-5 { margin-right: rem(5) !important; }
.g-mr-10 { margin-right: rem(10) !important; }
.g-mr-15 { margin-right: rem(15) !important; }
.g-mr-20 { margin-right: rem(20) !important; }
.g-mr-25 { margin-right: rem(25) !important; }
.g-mr-30 { margin-right: rem(30) !important; }
.g-mr-35 { margin-right: rem(35) !important; }
.g-mr-40 { margin-right: rem(40) !important; }
.g-mr-45 { margin-right: rem(45) !important; }
.g-mr-50 { margin-right: rem(50) !important; }
.g-mr-55 { margin-right: rem(55) !important; }
.g-mr-60 { margin-right: rem(60) !important; }
.g-mr-65 { margin-right: rem(65) !important; }
.g-mr-70 { margin-right: rem(70) !important; }
.g-mr-75 { margin-right: rem(75) !important; }
.g-mr-80 { margin-right: rem(80) !important; }
.g-mr-85 { margin-right: rem(85) !important; }
.g-mr-90 { margin-right: rem(90) !important; }
.g-mr-95 { margin-right: rem(95) !important; }
.g-mr-100 { margin-right: rem(100) !important; }
.g-mb-0 { margin-bottom: 0 !important; }
.g-mb-5 { margin-bottom: rem(5) !important; }
.g-mb-10 { margin-bottom: rem(10) !important; }
.g-mb-15 { margin-bottom: rem(15) !important; }
.g-mb-20 { margin-bottom: rem(20) !important; }
.g-mb-25 { margin-bottom: rem(25) !important; }
.g-mb-30 { margin-bottom: rem(30) !important; }
.g-mb-35 { margin-bottom: rem(35) !important; }
.g-mb-40 { margin-bottom: rem(40) !important; }
.g-mb-45 { margin-bottom: rem(45) !important; }
.g-mb-50 { margin-bottom: rem(50) !important; }
.g-mb-55 { margin-bottom: rem(55) !important; }
.g-mb-60 { margin-bottom: rem(60) !important; }
.g-mb-65 { margin-bottom: rem(65) !important; }
.g-mb-70 { margin-bottom: rem(70) !important; }
.g-mb-75 { margin-bottom: rem(75) !important; }
.g-mb-80 { margin-bottom: rem(80) !important; }
.g-mb-85 { margin-bottom: rem(85) !important; }
.g-mb-90 { margin-bottom: rem(90) !important; }
.g-mb-95 { margin-bottom: rem(95) !important; }
.g-mb-100 { margin-bottom: rem(100) !important; }
.g-ml-0 { margin-left: 0 !important; }
.g-ml-5 { margin-left: rem(5) !important; }
.g-ml-10 { margin-left: rem(10) !important; }
.g-ml-15 { margin-left: rem(15) !important; }
.g-ml-20 { margin-left: rem(20) !important; }
.g-ml-25 { margin-left: rem(25) !important; }
.g-ml-30 { margin-left: rem(30) !important; }
.g-ml-35 { margin-left: rem(35) !important; }
.g-ml-40 { margin-left: rem(40) !important; }
.g-ml-45 { margin-left: rem(45) !important; }
.g-ml-50 { margin-left: rem(50) !important; }
.g-ml-55 { margin-left: rem(55) !important; }
.g-ml-60 { margin-left: rem(60) !important; }
.g-ml-65 { margin-left: rem(65) !important; }
.g-ml-70 { margin-left: rem(70) !important; }
.g-ml-75 { margin-left: rem(75) !important; }
.g-ml-80 { margin-left: rem(80) !important; }
.g-ml-85 { margin-left: rem(85) !important; }
.g-ml-90 { margin-left: rem(90) !important; }
.g-ml-95 { margin-left: rem(95) !important; }
.g-ml-100 { margin-left: rem(100) !important; }

// Padding
.g-p-0 { padding: 0 !important; }
.g-p-5 { padding: rem(5) !important; }
.g-p-10 { padding: rem(10) !important; }
.g-p-15 { padding: rem(15) !important; }
.g-p-20 { padding: rem(20) !important; }
.g-p-25 { padding: rem(25) !important; }
.g-p-30 { padding: rem(30) !important; }
.g-p-35 { padding: rem(35) !important; }
.g-p-40 { padding: rem(40) !important; }
.g-p-45 { padding: rem(45) !important; }
.g-p-50 { padding: rem(50) !important; }
.g-p-55 { padding: rem(55) !important; }
.g-p-60 { padding: rem(60) !important; }
.g-p-65 { padding: rem(65) !important; }
.g-p-70 { padding: rem(70) !important; }
.g-p-75 { padding: rem(75) !important; }
.g-p-80 { padding: rem(80) !important; }
.g-p-85 { padding: rem(85) !important; }
.g-p-90 { padding: rem(90) !important; }
.g-p-95 { padding: rem(95) !important; }
.g-p-100 { padding: rem(100) !important; }
.g-px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.g-px-5 { padding-left: rem(5) !important; padding-right: rem(5) !important; }
.g-px-10 { padding-left: rem(10) !important; padding-right: rem(10) !important; }
.g-px-15 { padding-left: rem(15) !important; padding-right: rem(15) !important; }
.g-px-20 { padding-left: rem(20) !important; padding-right: rem(20) !important; }
.g-px-25 { padding-left: rem(25) !important; padding-right: rem(25) !important; }
.g-px-30 { padding-left: rem(30) !important; padding-right: rem(30) !important; }
.g-px-35 { padding-left: rem(35) !important; padding-right: rem(35) !important; }
.g-px-40 { padding-left: rem(40) !important; padding-right: rem(40) !important; }
.g-px-45 { padding-left: rem(45) !important; padding-right: rem(45) !important; }
.g-px-50 { padding-left: rem(50) !important; padding-right: rem(50) !important; }
.g-px-55 { padding-left: rem(55) !important; padding-right: rem(55) !important; }
.g-px-60 { padding-left: rem(60) !important; padding-right: rem(60) !important; }
.g-px-65 { padding-left: rem(65) !important; padding-right: rem(65) !important; }
.g-px-70 { padding-left: rem(70) !important; padding-right: rem(70) !important; }
.g-px-75 { padding-left: rem(75) !important; padding-right: rem(75) !important; }
.g-px-80 { padding-left: rem(80) !important; padding-right: rem(80) !important; }
.g-px-85 { padding-left: rem(85) !important; padding-right: rem(85) !important; }
.g-px-90 { padding-left: rem(90) !important; padding-right: rem(90) !important; }
.g-px-95 { padding-left: rem(95) !important; padding-right: rem(95) !important; }
.g-px-100 { padding-left: rem(100) !important; padding-right: rem(100) !important; }
.g-py-0 { padding-top: 0 !important; padding-bottom:rem( 0) !important; }
.g-py-5 { padding-top: rem(5) !important; padding-bottom: rem(5) !important; }
.g-py-10 { padding-top: rem(10) !important; padding-bottom: rem(10) !important; }
.g-py-15 { padding-top: rem(15) !important; padding-bottom: rem(15) !important; }
.g-py-20 { padding-top: rem(20) !important; padding-bottom: rem(20) !important; }
.g-py-25 { padding-top: rem(25) !important; padding-bottom: rem(25) !important; }
.g-py-30 { padding-top: rem(30) !important; padding-bottom: rem(30) !important; }
.g-py-35 { padding-top: rem(35) !important; padding-bottom: rem(35) !important; }
.g-py-40 { padding-top: rem(40) !important; padding-bottom: rem(40) !important; }
.g-py-45 { padding-top: rem(45) !important; padding-bottom: rem(45) !important; }
.g-py-50 { padding-top: rem(50) !important; padding-bottom: rem(50) !important; }
.g-py-55 { padding-top: rem(55) !important; padding-bottom: rem(55) !important; }
.g-py-60 { padding-top: rem(60) !important; padding-bottom: rem(60) !important; }
.g-py-65 { padding-top: rem(65) !important; padding-bottom: rem(65) !important; }
.g-py-70 { padding-top: rem(70) !important; padding-bottom: rem(70) !important; }
.g-py-75 { padding-top: rem(75) !important; padding-bottom: rem(75) !important; }
.g-py-80 { padding-top: rem(80) !important; padding-bottom: rem(80) !important; }
.g-py-85 { padding-top: rem(85) !important; padding-bottom: rem(85) !important; }
.g-py-90 { padding-top: rem(90) !important; padding-bottom: rem(90) !important; }
.g-py-95 { padding-top: rem(95) !important; padding-bottom: rem(95) !important; }
.g-py-100 { padding-top: rem(100) !important; padding-bottom: rem(100) !important; }
.g-pt-0 { padding-top: 0 !important; }
.g-pt-5 { padding-top: rem(5) !important; }
.g-pt-10 { padding-top: rem(10) !important; }
.g-pt-15 { padding-top: rem(15) !important; }
.g-pt-20 { padding-top: rem(20) !important; }
.g-pt-25 { padding-top: rem(25) !important; }
.g-pt-30 { padding-top: rem(30) !important; }
.g-pt-35 { padding-top: rem(35) !important; }
.g-pt-40 { padding-top: rem(40) !important; }
.g-pt-45 { padding-top: rem(45) !important; }
.g-pt-50 { padding-top: rem(50) !important; }
.g-pt-55 { padding-top: rem(55) !important; }
.g-pt-60 { padding-top: rem(60) !important; }
.g-pt-65 { padding-top: rem(65) !important; }
.g-pt-70 { padding-top: rem(70) !important; }
.g-pt-75 { padding-top: rem(75) !important; }
.g-pt-80 { padding-top: rem(80) !important; }
.g-pt-85 { padding-top: rem(85) !important; }
.g-pt-90 { padding-top: rem(90) !important; }
.g-pt-95 { padding-top: rem(95) !important; }
.g-pt-100 { padding-top: rem(100) !important; }
.g-pr-0 { padding-right: 0 !important; }
.g-pr-5 { padding-right: rem(5) !important; }
.g-pr-10 { padding-right: rem(10) !important; }
.g-pr-15 { padding-right: rem(15) !important; }
.g-pr-20 { padding-right: rem(20) !important; }
.g-pr-25 { padding-right: rem(25) !important; }
.g-pr-30 { padding-right: rem(30) !important; }
.g-pr-35 { padding-right: rem(35) !important; }
.g-pr-40 { padding-right: rem(40) !important; }
.g-pr-45 { padding-right: rem(45) !important; }
.g-pr-50 { padding-right: rem(50) !important; }
.g-pr-55 { padding-right: rem(55) !important; }
.g-pr-60 { padding-right: rem(60) !important; }
.g-pr-65 { padding-right: rem(65) !important; }
.g-pr-70 { padding-right: rem(70) !important; }
.g-pr-75 { padding-right: rem(75) !important; }
.g-pr-80 { padding-right: rem(80) !important; }
.g-pr-85 { padding-right: rem(85) !important; }
.g-pr-90 { padding-right: rem(90) !important; }
.g-pr-95 { padding-right: rem(95) !important; }
.g-pr-100 { padding-right: rem(100) !important; }
.g-pb-0 { padding-bottom: 0 !important; }
.g-pb-5 { padding-bottom: rem(5) !important; }
.g-pb-10 { padding-bottom: rem(10) !important; }
.g-pb-15 { padding-bottom: rem(15) !important; }
.g-pb-20 { padding-bottom: rem(20) !important; }
.g-pb-25 { padding-bottom: rem(25) !important; }
.g-pb-30 { padding-bottom: rem(30) !important; }
.g-pb-35 { padding-bottom: rem(35) !important; }
.g-pb-40 { padding-bottom: rem(40) !important; }
.g-pb-45 { padding-bottom: rem(45) !important; }
.g-pb-50 { padding-bottom: rem(50) !important; }
.g-pb-55 { padding-bottom: rem(55) !important; }
.g-pb-60 { padding-bottom: rem(60) !important; }
.g-pb-65 { padding-bottom: rem(65) !important; }
.g-pb-70 { padding-bottom: rem(70) !important; }
.g-pb-75 { padding-bottom: rem(75) !important; }
.g-pb-80 { padding-bottom: rem(80) !important; }
.g-pb-85 { padding-bottom: rem(85) !important; }
.g-pb-90 { padding-bottom: rem(90) !important; }
.g-pb-95 { padding-bottom: rem(95) !important; }
.g-pb-100 { padding-bottom: rem(100) !important; }
.g-pl-0 { padding-left: 0 !important; }
.g-pl-5 { padding-left: rem(5) !important; }
.g-pl-10 { padding-left: rem(10) !important; }
.g-pl-15 { padding-left: rem(15) !important; }
.g-pl-20 { padding-left: rem(20) !important; }
.g-pl-25 { padding-left: rem(25) !important; }
.g-pl-30 { padding-left: rem(30) !important; }
.g-pl-35 { padding-left: rem(35) !important; }
.g-pl-40 { padding-left: rem(40) !important; }
.g-pl-45 { padding-left: rem(45) !important; }
.g-pl-50 { padding-left: rem(50) !important; }
.g-pl-55 { padding-left: rem(55) !important; }
.g-pl-60 { padding-left: rem(60) !important; }
.g-pl-65 { padding-left: rem(65) !important; }
.g-pl-70 { padding-left: rem(70) !important; }
.g-pl-75 { padding-left: rem(75) !important; }
.g-pl-80 { padding-left: rem(80) !important; }
.g-pl-85 { padding-left: rem(85) !important; }
.g-pl-90 { padding-left: rem(90) !important; }
.g-pl-95 { padding-left: rem(95) !important; }
.g-pl-100 { padding-left: rem(100) !important; }

// Text
.g-text-center {
  text-align: center !important;
}
.g-text-left {
  text-align: left !important;
}
.g-text-right {
  text-align: right !important;
}