/**
 * Variables
 */

// Zoom Rate
$zoom: 1;

// Root Element Size
$root: 15;

// Colors
$black: #000000;
$white: #ffffff;
$brightgray: #fafafa;
$lightgray: #e1e1e1;
$gray: #aaaaaa;

// Font Weight
$light: 300;
$regular: 400;
$bold: 500;
$light: 700;

// Font Family
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

// Media Sizes
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;

// Gutter Size
$gutter: 15;