/**
 * App Layout
 */

// WP Admin Bar Override
#wpadminbar { position: fixed !important }

// App Header
.app-header {
  border-bottom: rem(1) solid #e1e1e1;
  position: fixed;
  z-index: 100;
  transition: transform 0.3s;
  width: 100%;

  &--slide-up {
    transform: translateY(calc(-100%));
  }
}

// @After | App Header
.after-app-header {
  &::before {
    content: '';
    display: block;
    height: rem(81);
  }
}

// App Main
.app-main { position: relative; }
body:not(.page) .app-main {
  padding: rem(60) 0 rem(60) 0;
}

// App Content
.app-content { position: relative; }

// App Sider
.app-sidebar { position: relative; }

// App Footer
.app-footer { padding: rem(15) 0 rem(15) 0; }