/**
 * Button
 */

.btn {
  background-color: $lightgray;
  background-image: none;
  border: rem(1) solid transparent;
  border-radius: rem(3);
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: rem(14);
  font-weight: bold;
  height: rem(32);
  padding: 0 rem(15);
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  user-select: none;
  white-space: nowrap;
}
.btn > .fab, .btn > span {
  display: inline-block;
  pointer-events: none;
}
.btn>.fab+span, .btn>span+.fab {
  margin-left: rem(3);
}

/* Button - Sizes */
.btn--sm {
  padding: 0 rem(7);
  font-size: rem(14);
  height: rem(24);
}
.btn--lg {
  padding: 0 rem(15);
  font-size: rem(16);
  height: rem(40);
}
.btn--full {
  width: 100%;
}

// Button - Outline
.btn--outline-light {
  background-color: transparent;
  border: rem(1) solid $white;
  color: $white;
}

/* Button - Disabled */
.btn--disabled, .btn[disabled] {
  cursor: not-allowed;
}
.btn--disabled, .btn[disabled],
.btn--disabled:hover, .btn[disabled]:hover, 
.btn--disabled:focus, .btn[disabled]:focus, 
.btn--disabled:active, .btn[disabled]:active, 
.btn--disabled--active, .btn[disabled] {
  background-color: $brightgray;
  border-color: $gray;
  color: $gray;
  text-shadow: none;
  box-shadow: none;
}