/**
 * Banner
 */
.banner {
  background-color: $brightgray;
  padding: rem(30) 0;
  position: relative;

  &__background-image {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }

  &__background-content {
    position: relative;
    z-index: 1;
  }
}

/**
 * Post Entry
 */
.post-entry {
  margin-bottom: rem(30);

  &:last-child {
    margin-bottom: 0;
  }

  &__excerpt {
    text-align: justify;
  }
}

/**
 * Widgets
 */
.widget {
  margin-bottom: rem(30);

  img {
    height: auto;
    max-width: 100%
  }

  select {
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    li {
      display: block;

      > ul {
        padding: 0 0 0 rem(15);
      }

      a {
        display: inline-block;
      }
    }
  }

  // Widget - Archive
  &_archive {}

  // Widget - Audio
  &_media_audio {}

  // Widget - Calendar
  &_calendar {}

  // Widget - Categories
  &_categories {}

  // Widget - Custom HTML
  &_custom_html {}

  // Widget - Gallery
  &_media_gallery {
    .gallery {
      display: flex;
      flex-flow: row wrap;

      &-item {
        margin: 0 0 0 0;
      }
    }

    .gallery-columns-1 .gallery-item { flex: 0 0 100%; }
    .gallery-columns-2 .gallery-item { flex: 0 0 50%; }
    .gallery-columns-3 .gallery-item { flex: 0 0 33.33%; }
    .gallery-columns-4 .gallery-item { flex: 0 0 25%; }
    .gallery-columns-5 .gallery-item { flex: 0 0 20%; }
    .gallery-columns-6 .gallery-item { flex: 0 0 16.66%; }
    .gallery-columns-7 .gallery-item { flex: 0 0 14.28%; }
    .gallery-columns-8 .gallery-item { flex: 0 0 12.5%; }
    .gallery-columns-9 .gallery-item { flex: 0 0 11.11%; }
  }

  // Widget - Image
  &_media_image {}

  // Widget - Meta
  &_meta {}

  // Widget - Navigation Menu
  &_nav_menu {}

  // Widget - Pages
  &_pages {}

  // Widget - Recent Comments
  &_recent_comments {}

  // Widget - Recent Posts
  &_recent_entries {}

  // Widget - RSS
  &_rss {}

  // Widget - Search
  &_search {}

  //  Widget - Tags
  &_tag_cloud {}

  //  Widget - Text
  &_text {}

  // Widget - Video
  &_media_video {}
}
