/**
 * Navigation Bar
 */

.navigation-bar {
  background-color: $white;
  height: rem(80);

  // Container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    @media (min-width: 414px) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  // Brand
  &__brand {
    display: block;
    width: rem(150);

    > img,
    > svg {
      width: 100%;
    }
  }

  // Menu
  &__menu {
    display: none;
  }

  // Menu Toggle
  &__menu-toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 9999;
    width: rem(40);
    height: rem(50);

    > div {
      height: rem(25);
      position: relative;
      width: 100%;

      > span {
        background-color: #0D1B48;
        border-radius: rem(5);
        display: block;
        height: rem(5);
        position: absolute;
        transition: all 0.3s;

        &:nth-child(1) {
          top: 0;
          right: 0;
          width: 75%;
        }

        &:nth-child(2) {
          top: rem(10);
          right: 0;
          width: 100%;
        }

        &:nth-child(3) {
          top: rem(20);
          right: 0;
          width: 50%;
        }
      }
    }

    &--open {
      > div {
        > span {
          &:nth-child(1) {
            top: rem(10);
            transform: rotate(135deg);
            width: 100%;
          }

          &:nth-child(2) {
            top: rem(10);
            transform: rotate(225deg);
            width: 100%;
          }

          &:nth-child(3) {
            top: rem(10);
            transform: rotate(405deg);
            width: 100%;
          }
        }
      }
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

// Navigation Bar - Desktop
.navigation-bar--desktop {
  & .navigation-bar {
    &__menu {
      display: block;

      > ul.menu {
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;

        > li {
          display: inline-block;
          margin: 0 rem(15) 0 rem(15);
          position: relative;

          > a {
            display: inline-block;
          }

          ul.sub-menu {
            display: none;
            list-style: none;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            position: absolute;
            top: 100%;
            left: 0;
            width: rem(175);
      
            li {
              display: block;
              position: relative;
      
              a {
                background-color: $lightgray;
                display: block;
                padding: rem(15);
              }
      
              ul.sub-menu {
                top: 0;
                left: 100%;
              }
            }
          }
        }

        > li:last-child {
          > ul.sub-menu {
            right: 0;
            left: auto;

            > li {
              ul {
                right: 100%;
                left: auto;
              }
            }
          }
        }
      }
    
      ul.menu,
      ul.sub-menu {
        > li:hover > ul {
          display: block !important;
        }
      }
    }
  }
}

// Navigation Bar - Mobile
.navigation-bar--mobile {
  & .navigation-bar {

    &__menu {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -9999;
      transform: scale(1.5);

      // 
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-height: 1px;
      transition: transform 0.25s, opacity 0.5s;
      width: 100%;

      &--open {
        opacity: 1;
        pointer-events: auto;
        top: 0;
        left: 0;
        z-index: 1000;
        transform: scale(1);
      }

      .btn--expand-menu {
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: rem(15);
        line-height: 1em;
        margin: auto 0 auto 0;
        padding: 0 0 0 0;
        position: absolute;
        top: rem(4);
        right: 0;
        width: rem(15);

        > span {
          background-color: #000;
          display: block;
          height: rem(10);
          margin: auto;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: transform 0.5s;
          width: rem(2);

          &:nth-child(0) {
            transform: rotate(0deg);
          }

          &:nth-child(1) {
            transform: rotate(90deg);
          }
        }
      }

      ul.menu,
      ul.sub-menu {
        list-style: none;
        line-height: 1.5em;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        min-width: rem(300);
        text-align: center;

        > li {
          display: block;
          position: relative;

          > a {
            display: inline-block;
          }
        }
      }

      > ul.menu {
        font-size: rem(20);
        font-weight: bold;

        > li {
          margin-bottom: rem(15);

          > ul.sub-menu {
            display: none;
            font-size: rem(20);
            font-weight: normal;
            margin-bottom: rem(15);

            > li {
              > ul.sub-menu {
                font-size: rem(14);
                margin-bottom: rem(15);
              }
            }
          }

          &.menu-item-show-children {
            > ul.sub-menu {
              display: block;
            }

            > .btn--expand-menu {
              span {
                &:nth-child(1) {
                  transform: rotate(-90deg);
                }
                &:nth-child(2) {
                  transform: rotate(90deg);
                }
              }
            }
          }
        }
      }
    }
  }
}

body.admin-bar .navigation-bar {
  &--mobile {
    .navigation-bar {
      &__menu {
        padding-top: 46px;
      }
    }
  }
}